{% extends 'common/base.html' %}
{% load bootstrap3 humanize catalog_tags %}

{% block bootstrap3_title %}
    {% block title %}Store Manager / Manufacturer Items{% endblock %}
{% endblock %}

{% block content %}
    <table class="table">
    {% for c in categories %}
        {% if c.num_items > 0 %}

            <tr>
                <th colspan="3">{% for ca in c.get_ancestors %}{{ ca.name }} &rarr; {% endfor %}{{ c.name }}</th>
            </tr>

            {% for item in c.get_items %}
                {% if item.num_vendors > 0 %}
                    {% if item.get_vendors %}
                        {% for mi in item.get_vendors %}
                            <tr>
                                <td>{{ mi.manufacturer.code }}</td>
                                <td>{{ item.brand.code }} {{ item.code }}</td>
                                <td>{{ item.name }} ({{ item.brand.name }})</td>
                            </tr>
                            {% if mi.num_variants > 0 %}
                                <tr>
                                    {% if mi.num_colors > 1 %}
                                        {% for co in mi.get_colors %}
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td colspan="2">{{ co.color_obj__name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% if mi.num_sizes > 1 %}
                                            {% for si in mi.get_sizes %}
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td colspan="2">{{ si.size }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}

{#                            / {{ mi.num_variants|apnumber|title }} Variants#}
{#                                {% if mi.num_colors > 1 %}/ {{ mi.num_colors|apnumber|title }} Colors {% endif %}#}
{#                                {% if mi.num_sizes > 1 %}/ {{ mi.num_sizes|apnumber|title }} Sizes {% endif %}#}
{#                            {% endif %}#}

                    {% else %}
                        <p>No vendors found.</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {%  endif %}
    {% endfor %}
    </table>
{% endblock %}
