{% extends "base.html" %}
{% load static %}
{% block container %}
<p><a class="btn btn-default" href="{% url 'business:business_pfcatalogcolor_list' %}">pfCatalogColor Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>date_added</td><td>{{ object.date_added }}</td></tr>
<tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
<tr><td>code</td><td>{{ object.code }}</td></tr>
<tr><td>label</td><td>{{ object.label }}</td></tr>
<tr><td>label_clean</td><td>{{ object.label_clean }}</td></tr>
<tr><td>hex_code</td><td>{{ object.hex_code }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit pfCatalogColor</a>

{% endblock %}