{% extends "base.html" %}
{% load static %}
{% block container %}
<p><a class="btn btn-default" href="{% url 'business:business_pfsyncitemoption_list' %}">pfSyncItemOption Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>date_added</td><td>{{ object.date_added }}</td></tr>
<tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
<tr><td>pid</td><td>{{ object.pid }}</td></tr>
<tr><td>value</td><td>{{ object.value }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit pfSyncItemOption</a>

{% endblock %}