{% if user.is_authenticated %}
{% if active_app == 'welcome' %}{% include "nav/_welcome.html" %}{% endif %}
{% if active_app == 'dashboard' %}{% include "nav/_dashboard.html" %}{% endif %}
{% if active_app == 'creative' %}{% include "nav/_creative.html" %}{% endif %}
{% if active_app == 'product' %}{% include "nav/_product.html" %}{% endif %}
{% if active_app == 'store' %}{% include "nav/_store.html" %}{% endif %}
{% if active_app == 'dams' %}{% include "nav/_dams.html" %}{% endif %}
{% if active_app == 'content' %}{% include "nav/_content.html" %}{% endif %}
{% if active_app == 'lists' %}{% include "nav/_lists.html" %}{% endif %}
{% endif %}
