{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'api_gooten_product_list' %}">Product Listing</a></p>
<table class="table">
<tr>
    {# <td>ID</td>#}
    {# <td>Link</td>#}
    {# <td>pkid</td>#}
    {# <td>slug</td>#}
    {# <td>created</td>#}
    {# <td>last_updated</td>#}
    <td>id</td>
    {# <td>uid</td>#}
    <td>name</td>
    {# <td>is_featured</td>#}
    {# <td>is_coming_soon</td>#}
    {# <td>has_available_product_variants</td>#}
    {# <td>has_product_templates</td>#}
    <td>description</td>
    {# <td>max_zoom</td>#}
    <td>priceinfo_price</td>
    {# <td>priceinfo_currencycode</td>#}
    {# <td>priceinfo_currencydigits</td>#}
    {# <td>priceinfo_currencyformat</td>#}
    {# <td>priceinfo_formattedprice</td>#}
    {# <td>retailprice_price</td>#}
    {# <td>retailprice_currencycode</td>#}
    {# <td>retailprice_currencydigits</td>#}
    {# <td>retailprice_currencyformat</td>#}
    {# <td>retailprice_formattedprice</td>#}
</tr>
{% for object in object_list %}
<tr>
    {# <td>{{object.id}}</td>#}
    {# <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>#}
    {# <td>{{ object.pkid }}</td>#}
    <td><a href="{{object.get_absolute_url}}">{{object.id}}</a></td>
    {# <td>{{ object.slug }}</td>#}
    {# <td>{{ object.created }}</td>#}
    {# <td>{{ object.last_updated }}</td>#}
    {# <td>{{ object.id }}</td>#}
    {# <td>{{ object.uid }}</td>#}
    <td>{{ object.name }}</td>
    {# <td>{{ object.is_featured }}</td>#}
    {# <td>{{ object.is_coming_soon }}</td>#}
    {# <td>{{ object.has_available_product_variants }}</td>#}
    {# <td>{{ object.has_product_templates }}</td>#}
    <td>{{ object.description }}</td>
    {# <td>{{ object.max_zoom }}</td>#}
    <td>{{ object.priceinfo_price }}</td>
    {# <td>{{ object.priceinfo_currencycode }}</td>#}
    {# <td>{{ object.priceinfo_currencydigits }}</td>#}
    {# <td>{{ object.priceinfo_currencyformat }}</td>#}
    {# <td>{{ object.priceinfo_formattedprice }}</td>#}
    {# <td>{{ object.retailprice_price }}</td>#}
    {# <td>{{ object.retailprice_currencycode }}</td>#}
    {# <td>{{ object.retailprice_currencydigits }}</td>#}
    {# <td>{{ object.retailprice_currencyformat }}</td>#}
    {# <td>{{ object.retailprice_formattedprice }}</td>#}
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'api_gooten_product_create' %}">Create new Product</a>
{% endblock %}
