{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'api_gooten_variantoption_list' %}">VariantOption Listing</a></p>
<table class="table">
<tr><td>pkid</td><td>{{ object.pkid }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>option_id</td><td>{{ object.option_id }}</td></tr>
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>sort_value</td><td>{{ object.sort_value }}</td></tr>
<tr><td>value</td><td>{{ object.value }}</td></tr>
<tr><td>value_id</td><td>{{ object.value_id }}</td></tr>
<tr><td>image_type</td><td>{{ object.image_type }}</td></tr>
<tr><td>image_url</td><td>{{ object.image_url }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit VariantOption</a>

{% endblock %}