{% extends "base.html" %}
{% load staticfiles humanize crispy_forms_tags %}

{% block title %}{{ block.super }}{{ active_apptitle }}{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" %}
{% endblock %}

{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{{ active_apptitle }}</h1>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
</div>

{% endblock container %}
