{% extends 'common/base.html' %}
{% load bootstrap3 humanize catalog_tags %}

{% block bootstrap3_title %}
  {% block title %}Store Manager / Product-Design Matrix{% endblock %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-striped">
                <thead class="thead-inverse">
                    <th>#</th>
                </thead>
                <tbody>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
{%  endblock %}


{% block old.content %}
    <div class="row">
        {% for v in mv %}
        <div class="col-3">
            <div class="card text-center">
                <img class="card-img-top img-fluid" src="{{ v.image_url }}" alt="{{ v.product.item.name }}" />
                <div class="card-block">
                    <h4 class="card-title">{{ v.product.item.brand.code }}
                    {{ v.product.item.code }} / {{ v.color_obj.name }}</h4>
                    <p class="card-text">
                        {{ v.product.item.name }}<br />
                        {{  v.product.get_price_range }} / ${{ v.product.item.default_retail }}
                    </p>
                </div>
            </div>
        </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
        {% endfor %}
    </div>



    <style>
    h4 { font-size: 1.25em; }
    body { font-size: 0.75em; }
    .card { margin-bottom: 2em; }
    </style>
{% endblock %}
