{% extends "base.html" %}
{% load static humanize markup_tags %}
{% block content %}
<div class="container-fluid">

  <div class="col-md-12">
    <h1>{{ brand.name }}</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        {% if brand.image %}
        <div style="float: right; padding: 2em;">
          <img style="max-height: 10em; max-width: 15em;" src="{{ brand.image.url }}" />
        </div>
        {% endif %}
        {{ brand.description|apply_markup:"markdown" }}
        <p><a href="{{ brand.web_url }}" target="_blank">{{ brand.web_url }}</a></p>
      </div>
    </div>
  </div>


  </div>

    <div class="row">
      <div class="col-md-12">
        {% for product in brand.get_products %}
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ product.get_name }}</h4>
            <table class="table table-condensed">
              <tr>
                {% if product.local_sku %}
                <td class="col-md-1">SKU<br/>
                  <strong>{{ product.local_sku }}</strong>
                </td>
                <td class="col-md-1">PA SKU<br/>
                  <strong>{{ product.sku }}</strong>
                </td>
                {% else %}
                <td class="col-md-2">SKU<br/>
                  <strong>{{ product.sku }}</strong>
                </td>
                {% endif %}
                {% if product.is_tiered_pricing %}
                <td class="col-md-2">Tier 1: <strong>${{ product.price }}</strong>/ea<br />
                  {% for variant in product.get_variants_white %}
                  <div class="variant-panel">
                    <div class="variant-minichip" style="background-color: #{{ variant.color.code }};"></div>
                    <div class="variant-label">{{ variant.color.name }}</div>
                  </div>
                  {% endfor %}
                </td>
                <td class="col-md-6">Tier 2: <strong>${{ product.color_price }}</strong>/ea<br />
                  {% for variant in product.get_variants_color %}
                  <div class="variant-panel">
                    <div class="variant-minichip" style="background-color: #{{ variant.color.code }};"></div>
                    <div class="variant-label">{{ variant.color.name }}</div>
                  </div>
                  {% endfor %}
                </td>
                {% else %}
                <td class="col-md-8">All: <strong>${{ product.price }}</strong>/ea<br />
                  {% for variant in product.get_variants %}
                  <div class="variant-panel">
                    <div class="variant-minichip" style="background-color: #{{ variant.color.code }};"></div>
                    <div class="variant-label">{{ variant.color.name }}</div>
                  </div>
                  {% endfor %}
                </td>
                {% endif %}

              </tr>
            </table>

        </div>
        <div class="media-right">
          <a href="{% url 'printaura_product_detail' product.slug %}">
            {% if product.image %}
            <img class="media-object productimage" src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% endif %}
          </a>
        </div>

        {% endfor %}
        {{ variant.get_sku }}
        {{ variant.color.name }}
        {{ variant.size.name }}


      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {

  $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true
  });

});
</script>

{% endblock %}
