{% extends "base.html" %}
{% load static markup_tags humanize %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'printaura_home' %}">Home</a></li>
        <li class="active">Group: {{ group.name }}</li>
      </ol>

      <h1>{{ group.name }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="grid">
    <div class="grid-sizer col-md-2"></div>
    {% for product in group.get_products %}
    <div class="grid-item col-md-4">
      <div class="grid-item-content">
        <a class="thumbnail" style="text-align: center;" href="{% url 'printaura_product_detail' product.slug %}">
          <div class="caption"><strong>{{ product.name }}</strong></div>
          {% if product.image %}
          <img class="img-responsive auragrid" src="{{ product.image.url }}" alt="{{ product.name }}" />
          {% endif %}
          <div class="caption">
            <small>
              <table class="table" style="padding-bottom: 0; margin-bottom: 0;" width="100%">
                <tr>
                  <td>Brand<br/><strong>{{product.brand}}</strong></td>
                  <td>SKU<br/><strong>{{product.sku}}</strong></td>
                  <td>Variants<br/><strong>{{ product.get_num_variants|apnumber|capfirst }}</strong></td>
                </tr>
              </table>
            </small>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
$( document ).ready(function() {

  $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true
  });

});

</script>

{% endblock %}
