{% extends "base.html" %}
{% load static markup_tags %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'printaura_home' %}">Home</a></li>
        <li><a href="{% url 'printaura_lpg_detail' product.localproductgroup.slug %}">{{ product.localproductgroup.name }}</a></li>
        <li class="active">{{ product.get_name }}</li>
      </ol>

      </div>
    </div>
    <div class="row">

      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          {% if product.image %}
            <img src="{{ product.image.url }}" />
          {% endif %}
          <a href="{% url 'printaura_brand_detail' product.brand.slug %}">
          {% if product.brand.image %}
            <img src="{{ product.brand.image.url }}" />
          {% else %}
            {{ product.brand.name }}
          {% endif %}
          </a>
        </div>
      </div>

      <div class="col-sm-8 col-md-8">

        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#desclocal" aria-controls="desclocal" role="tab" data-toggle="tab">Local</a>
            </li>
            <li role="presentation">
              <a href="#descaura" aria-controls="descaura" role="tab" data-toggle="tab">Print Aura</a>
            </li>
          </ul>
          <div class="tab-content auracontent">
            <div role="tabpanel" class="tab-pane active" id="desclocal">
              <h3>{{ product.local_name }}</h3>
              {{ product.local_description|apply_markup:"markdown" }}
            </div>
            <div role="tabpanel" class="tab-pane" id="descaura">
              <h3>{{ product.name }}</h3>
              {{ product.inventory_description }}
            </div>
          </div>
        </div>

        <div class="panel panel-default" style="margin-top: 2em;">
          <div class="panel-body">

            <dl class='dl-horizontal'>
              <dt>SKU</dt>
              <dd>Local: {{ product.local_sku }} / Print Aura: {{ product.sku }}</dd>
              <dt>Origin Country</dt>
              <dd>{{ product.country }}</dd>
              <dt>Material</dt>
              <dd>{{ product.material_name }}</dd>
              <dt>Cost</dt>
              <dd>{% if product.price == product.color_price %}
                ${{ product.price }}
                {% else %}
                Base: ${{ product.price }} / Color: ${{ product.color_price }}
                {% endif %}</dd>
              <dt>Print Aura Group</dt>
              <dd>{{ product.productgroup }}</dd>
              <dt>Print Aura ID</dt>
              <dd>{{ product.aura_id }}</dd>
            </dl>

            {% if product.size_chart_image_url %}
            <a class="btn btn-default" href="{{ product.size_chart_image_url }}" target="_blank" role="button">Sizing Chart</a>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">

        <h3>Product Variants</h3>

        {% for variant in product.get_variants %}
        <div class="variant-chip">
          <div class="chip" style="{% if variant.has_image %}
            background-image: url({{ variant.image.url }});
          {% else %}
            background-color: #{{ variant.color.code }};
            {% endif %}"></div>
          <div class="detail"><strong>{{ variant.get_sku }}&nbsp;</strong><br />{{ variant.color.name }}&nbsp;<br />{{ variant.size.name }}&nbsp;</div>
        </div>
        {% endfor %}

    </div>
  </div>
</div>


<script>
$(function() {
  $().tab
});
</script>

{% endblock %}
