{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
  {% block title %}Store Manager{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block content %}(no content){% endblock %}
    </div>

    <style>
    .color-chip {
      float: left;
      margin: .5em .5em 0 0;
      height: 4em;
      width: 5em;
      color: #666;
      background-color: #ebebeb;
      border-radius: 3px;
      border: 1px solid #ccc;
      box-shadow: 0 1px 1px 0 rgba(#000, .15), 0 1px 2px 0 rgba(#000, .1);
    }

    .color-chip__color {
      min-height: 65%;
    }

    .color-chip__info {
      padding: 2px;
    }
    .color-chip__info__title {
      text-transform: uppercase;
      font-size: 0.5em;
    }

    </style>

{% endblock %}
