{% extends "base.html" %}
{% load static markup_tags %}
{% block content %}

{% for p in products %}
  <h4>{{ p.model }} <small>{% if p.brand %}({{ p.brand }}){% endif %} - ${{ p.price_range }}</small></h4>
  <div class="container-fluid">
    <div class="grid">
      <div class="grid-sizer col-md-1"></div>
        {% for k,v in p.get_variant_display.items %}
        <div class="grid-item col-md-2">
          <div class="grid-item-content">
            {% if v.image_url.image_url %}<img class="img-responsive " src="{{ v.image_url.image_url }}" alt="{{ k }}" />{% endif %}
            <div class="caption"><strong>{{ k }}</strong><br />
              <!-- {% for s in v.sizes %}{{ s.size }} {% endfor %} -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}





<script>
$( document ).ready(function() {
  $('.grid').masonry({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
});
</script>

{% endblock %}
