{% extends "base.html" %}
{% load staticfiles crispy_forms_tags humanize i18n %}
{% block title %}{{ block.super }}{{ object_name }}{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link=active_app %}
{% endblock %}

{% block container %}
<form method="post">

  <div class="container business-head">
    <div class="row">
      <div class="col-md-8">
        <h2>
          {% if object_icon %}<small><span class="glyphicon glyphicon-{{ object_icon }}"></span></small>{% endif %}
          {{ object_name }}</h2>
      </div>
      <div class="col-md-4">
        <div class="text-right">
          <div class="btn-group" role="group">
            {# <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>#}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container business-body">
    <div class="row">
      <div class="col-md-12">
          {% csrf_token %}

          {% if wizard %}

          {{ wizard.form.media }}
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
          <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                  {% crispy form %}
              {% endfor %}
          {% else %}
              {% crispy wizard.form %}
          {% endif %}
          {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Start Over" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
          {% endif %}

          {% else %}

            {% crispy form %}

          {% endif %}


      </div>
    </div>
  </div>
</form>



{% endblock %}
