@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html, body{
  height:100%;		/* For full height images */
  background: #e0eaee;
  font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'BioRhyme', serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 0;
}

body>.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav > .active > a {
    background-color: transparent;
}

body>.navbar-default {
  background-color: #333333;
  border: none;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #000000;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn{
    margin-top:10px;
    margin-right: 1.7em;
}

.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-brand {
    font-weight: bold;
    color: rgb(255,255,255);
}

.navbar-brand > img {
    float: left;
    margin-right: 10px;
}

.navbar-right { margin-right: 20px; }

.dropdown-header { text-transform: uppercase; font-size: 9px; color: rgb(220,220,220); }

.navbar-default { background:rgb(100,148,170); border-bottom:none; }
.navbar-default .nav > li > a {color: rgba(255,255,255,0.7); }
.navbar-default .nav > li > a:hover {color: #fff; background-color: rgba(0,0,0,0.1);}
.navbar-default .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: rgba(0,0,0,0.2);}
.navbar-default .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-default .nav > li.dropdown.open.active > a:hover {}
.navbar-default .nav > li.dropdown.open > a {color: #fff;background-color: rgb(100,148,170); border-color: #fff;}
.navbar-default .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-default .navbar-brand {color:rgba(255,255,255,0.8);}
.navbar-default .navbar-brand:hover { color:#fff; }
.navbar-default .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-default .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-default .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-default .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }

.profile-image {
  border: 2px solid rgba(255,255,255,0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);

}

/*.btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
}*/

/* Home page styling */
.corporate-jumbo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
      url("/static/site/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: 80% center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

.corporate-jumbo .well {
    background-color: rgba(245, 245, 245, .7);
}

.corporate-jumbo p, .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo .well legend {
    color: #333;
}

.corporate-jumbo > .container {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 15px;
}

.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
}

.footer a:hover {
    text-decoration: none;
}

/* About page styling */
#sec1 {
    background-color: #fafafa;
}

/* Profile page styling */
.profile-head {
    background-color: #fafafa;
    padding: 70px 0px 30px 20px;
}
.profile-body {
    padding: 4px 0px;
}

/* business page styling */
.business-head {
    /*background-color: #fafafa;*/
    padding: 70px 0px 10px 0px;
}
.business-body {
    padding: 1em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    background: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 0px none #ffffff;
}
.business-head h2 {
  padding-top: 0; margin-top: 0;
}
.business-body h3 {
  padding: 0; margin: 0;
}

.text-page {
    padding: 120px 0;
}

#map-outer {
    height: 440px;
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color:#FFF
}

#map-container {
    height: 400px
}

.img-dim {
    opacity: 0.5;
    box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}

/* Authentication forms */
.form-box form,
.form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}
