{% extends "base.html" %}
{% load static %}
{% block container %}
<p><a class="btn btn-default" href="{% url 'business:business_woocategory_list' %}">wooCategory Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>date_added</td><td>{{ object.date_added }}</td></tr>
<tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
<tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
<tr><td>wid</td><td>{{ object.wid }}</td></tr>
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>parent</td><td>{{ object.parent }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>display</td><td>{{ object.display }}</td></tr>
<tr><td>count</td><td>{{ object.count }}</td></tr>
<tr><td>image_id</td><td>{{ object.image_id }}</td></tr>
<tr><td>image_date_created</td><td>{{ object.image_date_created }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit wooCategory</a>

{% endblock %}