{% extends "base.html" %}
{% load static %}
{% block container %}
<p><a class="btn btn-default" href="{% url 'business:business_wpmedia_list' %}">wpMedia Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>date_added</td><td>{{ object.date_added }}</td></tr>
<tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
<tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
<tr><td>alt_text</td><td>{{ object.alt_text }}</td></tr>
<tr><td>width</td><td>{{ object.width }}</td></tr>
<tr><td>height</td><td>{{ object.height }}</td></tr>
<tr><td>file</td><td>{{ object.file }}</td></tr>
<tr><td>author</td><td>{{ object.author }}</td></tr>
<tr><td>mime_type</td><td>{{ object.mime_type }}</td></tr>
<tr><td>comment_status</td><td>{{ object.comment_status }}</td></tr>
<tr><td>wid</td><td>{{ object.wid }}</td></tr>
<tr><td>source_url</td><td>{{ object.source_url }}</td></tr>
<tr><td>template</td><td>{{ object.template }}</td></tr>
<tr><td>ping_status</td><td>{{ object.ping_status }}</td></tr>
<tr><td>caption</td><td>{{ object.caption }}</td></tr>
<tr><td>link</td><td>{{ object.link }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>modified</td><td>{{ object.modified }}</td></tr>
<tr><td>guid</td><td>{{ object.guid }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>modified_gmt</td><td>{{ object.modified_gmt }}</td></tr>
<tr><td>title</td><td>{{ object.title }}</td></tr>
<tr><td>date_gmt</td><td>{{ object.date_gmt }}</td></tr>
<tr><td>type</td><td>{{ object.type }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit wpMedia</a>

{% endblock %}